<div class="container-form pb-5 pt-5">
  <h2>Log cicle</h2>
  <%= simple_form_for [@cicle] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
