// Define variables for your color scheme

// For example:
$gray: #0E0000;
$light-gray: #F4F4F4;

// Rewild colors
$green-light: #9AB89A;
$green-medium: #799779;
$black: #2A2A2A;
$grey-dark: #3E3938;
$grey-light: rgb(93, 89, 88);
$grey-transparent: rgba(123, 120, 119, 0.2);
$white: rgb(249, 245, 245);


//Mood colors
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$pink: rgb(235, 137, 153);
