.dark-background {
  background-color: $grey-dark;
  // background: rgb(48,47,68);
  // background: linear-gradient(0deg, rgba(48,47,68,1) 0%, rgba(42,40,77,1) 35%, rgba(62,57,56,1) 100%);
}

.fixed-moon {
  position: fixed;
  right: 4%;
}

.fixed-icons-bottom {
  position: fixed;
  right: 2%;
  bottom: 2%;
}


.container-timeline {
  padding-top: 80px;
  overflow-x: none;
}

.text-dark-mode {
  p {
    color: $white;
    font-weight: 300;

  }

  h3 {
    color: $white;
  }
}

.type-text {
  padding-left: 30px;

    h3 {
      margin: 0;
      padding-right: 14px;
        a {
          text-decoration: none;
          color: rgb(255, 67, 67);
            &:hover {
              color: $white;
            }
        }
    }
  }

.list-layout {
  overflow-x: hidden;
}

.timeline-grow {
  flex-grow: 1
}

.no-overflow {
  overflow-x: none;
}

.tag-medium {
  font-size: 32px;
  text-shadow: 1px 1px 2px $grey-dark;
}
