.dark-background {
  background-color: $grey-dark;
}

.container-timeline {
  padding-top: 80px;
  overflow-x: none;
}

.text-dark-mode {
  p {
    color: $white;
    font-weight: 300;

  }

  h3 {
    color: $white;
  }
}

.type-text {

    h3 {
      margin: 0;
      padding-right: 14px;
        a {
          text-decoration: none;
          color: $green-medium;
            &:hover {
              color: $grey-dark;
            }
        }
    }
  }

.list-layout {
  overflow-x: hidden;
}

.timeline-grow {
  flex-grow: 1
}

.no-overflow {
  overflow-x: none;
}

.tag-medium {
  font-size: 32px;
  text-shadow: 1px 1px 2px $grey-dark;
}
