<div class="row navbar-dashboard m-0">
  <div class="col-3">
    <h2><%= @site.name %></h2>
  </div>
  <div class="col-9 d-flex justify-content-between align-items-center icons-large">

  </div>
</div>
