<div>
  <div class="row container-home mb-5">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-between align-items-center">
      <div class="card-steps">
        <h2>Step 1</h2>
        <p>Build a garden of ideas and start recording your creative process.</p>
      </div>
      <div class="card-steps">
        <h2>Step 2</h2>
        <p>Undestand your cicles and improve the way you work and rest.</p>
      </div>
      <div class="card-steps">
        <h2>Step 3</h2>
        <p>Team up with others in the community with similar patterns.</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="col-1"></div>
  <div class="d-flex justify-content-center">
    <%= link_to "Start", sites_path, class: "btn btn-ghost" %>
    <%# <a class="btn btn-ghost" href="">Start gardening</a> %>
  </div>

  <div class="row container-home">
    <div class="col-2"></div>
    <div class="card-steps-big col-8 mb-5 ">
      <h2>The Rewild Community</h2>
      <p>With this new understanding, start connecting with other who vibe in the same way.</p>
      <p>Work better to create fun and innovative projects.</p>
    </div>
    <div class="col-2"></div>
  </div>
   <div class="d-flex justify-content-center pb-5">
    <a class="btn btn-ghost" href="#">To community</a>
  </div>

</div>
