.no-margin {
  margin: auto;
}

.card-category {
  height: 200px;
  width: 500px;
  border-radius: 15px;
  border: 1px solid $grey-transparent;
  margin: auto;
  padding: 16px;
  margin-bottom: 20px;

    i {
      color: $grey-dark;
      padding-left: 12px;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    h2 {
      margin: auto;
      text-align: center;
      justify-content: center;
    }
}

.card-product {
  background-color: $green-medium;
  color: $white;
  border-radius: 10px;
  width: 600px;
  margin-left: 16px;
  padding: 16px;

    p {
      color: $white;
      font-weight: 300;
    }

}

