.no-margin {
  margin: auto;
}

// -------CARD CATEGORY---------

.card-category {
  width: 500px;
  border-radius: 15px;
  border: 1px solid $grey-transparent;
  margin: auto;
  padding: 16px;
  margin-bottom: 20px;

    i {
      color: $grey-dark;
      padding-left: 12px;
      text-decoration: none;
    }

    a {
      text-decoration: none;
      color: $grey-dark;
    }

    h2 {
      margin: auto;
      text-align: center;
      justify-content: center;
    }
}


// -----------CARD PRODUCT ------------

.card-product {
  background-color: $green-medium;
  color: $white;
  border-radius: 10px;
  width: 600px;
  margin-left: 16px;
  padding: 16px;
  margin: 20px;

    &:hover {
        i {
          color: $grey-dark;
        }
    }

    p {
      color: $white;
      font-weight: 300;
    }

    i {
      color: $green-medium;
      padding-left: 12px;
      text-decoration: none;

    }

    a {
      text-decoration: none;
    }

    h2 {
      margin: auto;
      text-align: center;
      justify-content: center;
    }
}

// -----------CARD TO LIST (TITLE AND SUBTITLE OR ICON WITH TAG) WITH EDIT & DELETE BUTTONS ON RIGHT----------------
// its in 3 parts >> it can be imporoved
.list-line {
  padding: 16px;
    i {
      padding-left: 12px;
      font-size: 38px;
    }
    p {
      font-size: 20px;
      color: $grey-dark;
      margin: auto 0;
      padding-left: 24px;
    }

}

.underline-list {
  border-bottom: 1px solid $grey-transparent;
  margin: 0;
    &:hover {
      a {
        color: $grey-light;
          i {
            padding-left: 16px;
          }
      }
    }

    h3 {
      padding-top: 24px;
    }

    h6 {
      font-size: 20px;
      padding: 24px 16px;
      margin: 0;
    }

    p {
      padding: 24px 16px;
      margin: 0;
    }
}

// EDIT AND DELETE BUTTONS ARE INVISILE AND WHEN HOVERING ON THE CARD THEY BECOME VISIBLE
.mood-crud-btns {
  color: $grey-dark;
  padding: 0;
    a {
      font-size: 16px;
      text-decoration: none;
      color: $white;
        &:hover {
          color: $grey-dark;
        }

        i {
          padding-left: 16px;
        }
    }
}

// this card is to list cicles with start - end - and length of previous cicle
.underline-list-dates {
  border-bottom: 1px solid $grey-transparent;
  margin: 0;
    &:hover {
      a {
        color: $grey-light;
          i {
            padding-left: 16px;
          }
      }
    }

    h6 {
      font-size: 16px;
      padding: 24px 16px;
      margin: 0;
    }

    p {
      padding: 24px 16px;
      color: $grey-light;
      font-size: 14px;
      margin: 0;
    }
}
