
// THIS IS FOR THE FIRST CIRCLE WITH ICONS TEST
.container-c {
  --d: 6.5em; /* image size */
  --rel: 1; /* how much extra space we want between images, 1 = one image size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  position: relative;
  width: var(--s); height: var(--s);
  background: none /* put color to show images perfectly fit in container */
}

.container-c a {
  position: absolute;
  top: 50%; left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d); height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform:
    rotate(var(--az))
    translate(var(--r))
    rotate(calc(-1*var(--az)))
}
// ---------------

// THIS IS FOR THE SECOND CICLE WITH ICON TEST

.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  // padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
  margin: 1.75em auto 0;

    img { display: block; width: 100%; }

}

.circle-container-two {
  position: relative;
  width: 20em;
  height: 20em;
  // padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;

  img { display: block; width: 100%; }
}

.circle-container-three {
  position: relative;
  width: 16em;
  height: 16em;
  // padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;

  img { display: block; width: 100%; }
}



.circle-container a {
  display: block;
  position: absolute;
  // top: 50%; left: 50%;
  width: 1em; height: 1em;
  // margin: -2em;
}

.translate-8 {
  transform: translate(8em);
}
.translate-10 {
  transform: translate(10em);
}
.translate-12 {
  transform: translate(12em);
}

// 3 CICLES WEEK ONE

.deg1-1 { transform: rotate(12.86deg - 90deg) translate(12em); }
.deg2-1 { transform: rotate(25.72deg - 90deg) translate(12em); }
.deg3-1 { transform: rotate(38.6deg - 90deg) translate(12em); }
.deg4-1 { transform: rotate(51.43deg - 90deg) translate(12em); }
.deg5-1 { transform: rotate(64.29deg - 90deg) translate(12em); }
.deg6-1 { transform: rotate(77.14deg - 90deg) translate(12em); }
.deg7-1 { transform: rotate(90deg - 90deg) translate(12em); }

.deg1-2 { transform: rotate(12.86deg - 90deg) translate(10em); }
.deg2-2 { transform: rotate(25.72deg - 90deg); }
.deg3-2 { transform: rotate(38.6deg - 90deg) translate(10em); }
.deg4-2 { transform: rotate(51.43deg - 90deg) translate(10em); }
.deg5-2 { transform: rotate(64.29deg - 90deg) translate(10em); }
.deg6-2 { transform: rotate(77.14deg - 90deg) translate(10em); }
.deg7-2 { transform: rotate(90deg - 90deg) translate(10em); }

.deg1-3 { transform: rotate(12.86deg - 90deg) translate(8em); }
.deg2-3 { transform: rotate(25.72deg - 90deg) translate(8em); }
.deg3-3 { transform: rotate(38.6deg - 90deg) translate(8em); }
.deg4-3 { transform: rotate(51.43deg - 90deg) translate(8em); }
.deg5-3 { transform: rotate(64.29deg - 90deg) translate(8em); }
.deg6-3 { transform: rotate(77.14deg - 90deg) translate(8em); }
.deg7-3 { transform: rotate(90deg - 90deg) translate(8em); }


// 3 CIRCLES  WEEK TWO
.deg8-1 { transform: rotate(12.86deg) translate(12em); }
.deg9-1 { transform: rotate(25.72deg) translate(12em); }
.deg10-1 { transform: rotate(38.6deg) translate(12em); }
.deg11-1 { transform: rotate(51.43deg) translate(12em); }
.deg12-1 { transform: rotate(64.29deg) translate(12em); }
.deg13-1 { transform: rotate(77.14deg) translate(12em); }
.deg14-1 { transform: rotate(90deg) translate(12em); }

.deg8-2 { transform: rotate(12.86deg) translate(10em); }
.deg9-2 { transform: rotate(25.72deg) translate(10em); }
.deg10-2 { transform: rotate(38.6deg) translate(10em); }
.deg11-2 { transform: rotate(51.43deg) translate(10em); }
.deg12-2 { transform: rotate(64.29deg) translate(10em); }
.deg13-2 { transform: rotate(77.14deg) translate(10em); }
.deg14-2 { transform: rotate(90deg) translate(10em); }

.deg8-3 { transform: rotate(12.86deg) translate(8em); }
.deg9-3 { transform: rotate(25.72deg) translate(8em); }
.deg10-3 { transform: rotate(38.6deg) translate(8em); }
.deg11-3 { transform: rotate(51.43deg) translate(8em); }
.deg12-3 { transform: rotate(64.29deg) translate(8em); }
.deg13-3 { transform: rotate(77.14deg) translate(8em); }
.deg14-3 { transform: rotate(90deg) translate(8em); }

// 3 CICLES WEEK THREE

.deg15-1 { transform: rotate(12.86deg + 90deg) translate(12em); }
.deg16-1 { transform: rotate(25.72deg + 90deg) translate(12em); }
.deg17-1 { transform: rotate(38.6deg + 90deg) translate(12em); }
.deg18-1 { transform: rotate(51.43deg + 90deg) translate(12em); }
.deg19-1 { transform: rotate(64.29deg + 90deg) translate(12em); }
.deg20-1 { transform: rotate(77.14deg + 90deg) translate(12em); }
.deg21-1 { transform: rotate(90deg + 90deg) translate(12em); }

.deg15-2 { transform: rotate(12.86deg + 90deg) translate(10em); }
.deg16-2 { transform: rotate(25.72deg + 90deg) translate(10em); }
.deg17-2 { transform: rotate(38.6deg + 90deg) translate(10em); }
.deg18-2 { transform: rotate(51.43deg + 90deg) translate(10em); }
.deg19-2 { transform: rotate(64.29deg + 90deg) translate(10em); }
.deg20-2 { transform: rotate(77.14deg + 90deg) translate(10em); }
.deg21-2 { transform: rotate(90deg + 90deg) translate(10em); }

.deg15-3 { transform: rotate(12.86deg + 90deg) translate(8em); }
.deg16-3 { transform: rotate(25.72deg + 90deg) translate(8em); }
.deg17-3 { transform: rotate(38.6deg + 90deg) translate(8em); }
.deg18-3 { transform: rotate(51.43deg + 90deg) translate(8em); }
.deg19-3 { transform: rotate(64.29deg + 90deg) translate(8em); }
.deg20-3 { transform: rotate(77.14deg + 90deg) translate(8em); }
.deg21-3 { transform: rotate(90deg + 90deg) translate(8em); }

// 3 CICLES WEEK 4

.deg22-1 { transform: rotate(12.86deg + 180deg) translate(12em); }
.deg23-1 { transform: rotate(25.72deg + 180deg) translate(12em); }
.deg24-1 { transform: rotate(38.6deg + 180deg) translate(12em); }
.deg25-1 { transform: rotate(51.43deg + 180deg) translate(12em); }
.deg26-1 { transform: rotate(64.29deg + 180deg) translate(12em); }
.deg27-1 { transform: rotate(77.14deg + 180deg) translate(12em); }
.deg28-1 { transform: rotate(90deg + 180deg) translate(12em); }

.deg22-2 { transform: rotate(12.86deg + 180deg) translate(10em); }
.deg23-2 { transform: rotate(25.72deg + 180deg) translate(10em); }
.deg24-2 { transform: rotate(38.6deg + 180deg) translate(10em); }
.deg25-2 { transform: rotate(51.43deg + 180deg) translate(10em); }
.deg26-2 { transform: rotate(64.29deg + 180deg) translate(10em); }
.deg27-2 { transform: rotate(77.14deg + 180deg) translate(10em); }
.deg28-2 { transform: rotate(90deg + 180deg) translate(10em); }

.deg22-3 { transform: rotate(12.86deg + 180deg) translate(8em); }
.deg23-3 { transform: rotate(25.72deg + 180deg) translate(8em); }
.deg24-3 { transform: rotate(38.6deg + 180deg) translate(8em); }
.deg25-3 { transform: rotate(51.43deg + 180deg) translate(8em); }
.deg26-3 { transform: rotate(64.29deg + 180deg) translate(8em); }
.deg27-3 { transform: rotate(77.14deg + 180deg) translate(8em); }
.deg28-3 { transform: rotate(90deg + 180deg) translate(8em); }


// ------------
img { max-width: 100% }


.icon-circle {
  color: $grey-dark;
  text-decoration: none;
    &:hover {
      color: red;
    }

    i {
        &:hover {
          color: red;
        }
    }

}

.btn-center-circle {
  text-align: center;
  color: $grey-dark;
  text-decoration: none;


  p {
    font-size: 24px;
    &:hover {
      color: red;
    }
    }

}
