
// THIS IS FOR THE FIRST CIRCLE WITH ICONS TEST
.container-c {
  --d: 6.5em; /* image size */
  --rel: 1; /* how much extra space we want between images, 1 = one image size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
  --s: calc(2*var(--r) + var(--d)); /* container size */
  position: relative;
  width: var(--s); height: var(--s);
  background: none /* put color to show images perfectly fit in container */
}

.container-c a {
  position: absolute;
  top: 50%; left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d); height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform:
    rotate(var(--az))
    translate(var(--r))
    rotate(calc(-1*var(--az)))
}
// ---------------

// THIS IS FOR THE SECOND CICLE WITH ICON TEST

.circle-container {
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-container-two {
  position: relative;
  width: 20em;
  height: 20em;
  // padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
}

.circle-container-three {
  position: relative;
  width: 16em;
  height: 16em;
  // padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
}



.circle-container a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }




// ------------
img { max-width: 100% }


.icon-circle {
  color: $grey-dark;
  text-decoration: none;
    &:hover {
      color: red;
    }

    i {
        &:hover {
          color: red;
        }
    }

}

.btn-center-circle {
  text-align: center;
  color: $grey-dark;
  text-decoration: none;


  p {
    font-size: 24px;
    &:hover {
      color: red;
    }
    }

}
