<%= render "shared/navbar_dashboard" %>
<div class="row">
  <div class="col-3">
    <div style="text-align: right; position: relative; left: 7px;"><%= Date %>&nbsp&nbsp&nbsp&nbsp <i class="fa-solid fa-circle"></i></div>
    <div style="border-right: 2px solid black; height: 60%; margin: 5px 0 5px 5px;"></div>
  </div>
  <div class="log-card col-9" >
    <div class="real-logg-card" style="position: relative; top: 18px;">
      <div class="p-3">
        <div class="d-flex">
          <div>
            <h3>Probando</h3>
          </div>
        </div>
        <p>
          <div class="arrow text-center down-arrow d-flex align-items-start">
            <%# <i class="fa-solid fa-chevron-down fa-8x" style="color: #475C46"></i> %>
          </div>

        </p>
      </div>
  </div>
</div>
